
.entries-info {
  flex: 1;
  text-align: left;
  font-size: 17px;
  margin-top: 1px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}


.pagination-buttons {
  flex: 1;
  text-align: right;
  margin-top: -25px;
}

.pagination-buttons button {
  margin-left: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.pagination-buttons button.active {
  background-color: whitesmoke;
  color: black;
  
  
}

.pagination-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
