/* View.css */
.table td .badge {
  margin-left: 5px;
}

.col-md-2 {
  margin: 0px -110px 0px 20px;
}


p {
    margin-right: 6rem;

}


.p-margin {
  margin-left: -40px;
}

.bio-text {
  margin-right: 0; /* Reset margin */
  text-align: justify;
  line-height: 1.6;
}